[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
black = "*"
mypy = "*"
pycodestyle = "*"
pyhumps = "*"
httpx = "*"

[requires]
python_version = "3.14"

[scripts]
# pipenv run ....
info    = "python -V"
lint    = "pycodestyle './scripts/'"
lint-types = "mypy './scripts/'"
dump    = "python './scripts/get-html-markup.py' --url='https://en.wikipedia.org/wiki/Chief_Mouser_to_the_Cabinet_Office'"
extract = "python './scripts/extract-values.py'"
parse   = "python './scripts/parse-values.py'"
normalize = "python './scripts/normalize-json.py'"
format  = "black './scripts'"
build = "bash -c 'pipenv run dump && pipenv run extract && pipenv run parse && pipenv run normalize'"
