[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
black = "*"
requests-html = "*"
mypy = "*"
argparse = "*"
pycodestyle = "*"
pyhumps = "*"
lxml-html-clean = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true

[scripts]
# pipenv run ....
info    = "python -V"
lint    = "pycodestyle './scripts/'"
lint-types = "mypy './scripts/'"
dump    = "python './scripts/get-html-markup.py' --url='https://en.wikipedia.org/wiki/Chief_Mouser_to_the_Cabinet_Office'"
extract = "python './scripts/extract-values.py'"
parse   = "python './scripts/parse-values.py'"
flatten = "python './scripts/flatten-json.py'"
format  = "black './scripts'"
