@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
  font-size: 16px;
}

body {
  min-height: 100vh;
}

.root {
  display: grid;
  min-height: inherit;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "view"
    "footer";
  grid-template-rows:
    auto
    auto
    1fr
    auto
    auto;
  grid-template-columns: 1fr;
}
