@import 'tailwindcss';

@theme {
  --color-gray-light: var(--color-neutral-300);
  --color-gray: var(--color-neutral-400);
  --color-gray-dark: var(--color-neutral-500);
  --color-pink-1: var(--color-pink-600);
  --color-pink-2: var(--color-pink-500);
}

@layer base {
  body {
    min-height: 100dvh;
    font-family: var(--font-sans);
  }

  /* restore cursor:pointer on active buttons */
  button:not(:disabled, [aria-disabled='true']),
  [role='button']:not(:disabled, [aria-disabled='true']) {
    cursor: pointer;
  }
}

@layer components {
  .root {
    display: grid;
    min-height: inherit;
    grid-template-areas:
      'header'
      'nav'
      'main'
      'footer';
    grid-template-rows:
      auto
      auto
      1fr
      auto;
    grid-template-columns: 1fr;
  }
}
