@import 'tailwindcss';

@theme {
  --color-gray-light: var(--color-neutral-300);
  --color-gray: var(--color-neutral-400);
  --color-gray-dark: var(--color-neutral-500);
  --color-pink-1: var(--color-pink-600);
  --color-pink-2: var(--color-pink-500);
}

@layer base {
  body {
    min-height: 100dvh;
  }

  /* restore cursor:pointer on active buttons */
  button:not(:disabled, [aria-disabled='true']),
  [role='button']:not(:disabled, [aria-disabled='true']) {
    cursor: pointer;
  }
}

@layer components {
  .root {
    display: grid;
    /* pager-start/pager-end row is empty on desktop and auto-height becomes 0 */
    grid-template-rows:
      [header-start]
      auto
      [header-end nav-start]
      auto
      [nav-end content-start]
      1fr
      [content-end pager-start]
      auto
      [pager-end footer-start]
      auto
      [footer-end];
    /* grid-column: x-start / x-end; -> can be written as grid-column: x but only when using -start/-end */
    grid-template-columns: [left-column-start] 1fr [left-column-end right-column-start] 1fr [right-column-end];
    min-height: inherit;

    @variant md {
      grid-template-columns: [left-column-start] minmax(150px, auto) [left-column-end content-start] 1fr [content-end right-column-start] minmax(150px,auto) [right-column-end];
    }
  }
}
